@media (max-width: 1200px){
    .prev{
        display: none;
    }
    .next{
        display: none;
    }
    .carousel{
        .tns-nav{
            display: flex;
        }
    }

}
@media (max-width: 991px){
    .promo{
        padding: 20px;
        &__wrapper{
            align-items: center;
        }
    }
    .advantages{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            flex-wrap: nowrap;
            width: 50%;
        }
    }
    .consultation{
        display: flex;
        justify-content: center;
        &__descr{
            display: block;
            text-align: center;
        }
    }
    .title_left{
        text-align: center;
    }
    .feed-form{
        margin: 0 auto;
        margin-top: 36px;
    }
    .catalog{
        &__tab{
            width: 190px;
            font-size: 15px;
        }
        &__content{
            &_active{
                display: flex;
                justify-content: space-around;
                margin-right: 0px;
            }
        }
        &-item{
            margin-right: 0px;
        }
    }
    .reviews{
        &__items{
            padding: 0 35px;
        }
    }
}
@media (max-width: 767px){
    .header{
        display: flex;
        &__logo{
            width: 30%;
        }
        &__official{
            width: 30%;
        }
        &__contacts{
            width: 30%;
        }
    }
    .title_left{
        font-size: 26px;;
    }
    .catalog{
        &__tab{
            width: 140px;
            font-size: 12px;
        }
    }
    .reviews{
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__img{
            margin-right: 0px;
        }
        &__block{
            margin-top: 30px;
        }
    }

}
@media (max-width: 575px){
    .header{
        display: flex;
        flex-direction: column;
        &__logo{
            margin-top: 20px;
            width: 100%;
        }
        &__official{
            margin-top: 20px;
            width: 100%;
        }
        &__contacts{
            align-items: center;
            margin-top: 20px;
            width: 100%;
        }
    }
    .promo{
        padding: 0 20px;
        &__header{
            font-size: 30px;
            text-align: center;
        }
        &__subheader{
            font-size: 20px;
            text-align: center;
        }
        &__icons{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
        &__icon{
            margin-top: 25px;
        }
        &__wrapper{
            padding-bottom: 30px;
        }
    }
    .advantages{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
            flex-wrap: nowrap;
            width: 90%;
        }
    }
    .title{
        font-size: 22px;
        &_left{
            font-size: 22px;
        }
    }
    .catalog{
        &__tab{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            font-size: 11px;
            line-height: 120%;
        }
    }
    .reviews{
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__img{
            margin-right: 0px;
        }
        &__block{
            margin-top: 30px;
        }
    }
    .footer{
        &__info{
            width: 100%;
            padding: 30px;
        }
    }
}
